<script nonce="{CSP_NONCE}" src="/js/system_command.js?v=24"></script>
<script nonce="{CSP_NONCE}">
    $(function() {{
        // jQuery start
        load_js_system_command();
    }});
</script>
<input type="hidden" id="url" value="{url}">
<input type="hidden" id="command" value="{command}">
<input type="hidden" id="service_name" value="{service_name}">
{warning}
{html_body}
<span id="status_confirm_command"></span>
